<div class="blog-container">

  <h1 class="blog-title title"> Lorefnon's Awesome blog </h1>
  <h2 class="page-title title"> Posts </h2>

  <div class="posts-container" id="spf-posts-container">
    <%= render 'posts/posts' %>
  </div>

</div>
