<div class="blog-container">
  <h1 class="blog-title title"> Lorefnon's Awesome blog </h1>
  <h2 class="page-title title"> Posts </h2>
  <ul class="posts-list">

    <div class="posts">
      <%= render 'posts/posts' %>
    </div>

    <div class="navigation-links">
      <%= render 'posts/navigation_links' %>
    </div>

  </ul>
</div>
