<h1> Lorefnon's Awesome blog </h2>
<h2> Posts </h2>
<ul>

  <div id="posts">
    <%= render 'posts/posts' %>
  </div>

  <div id="navigation-links">
    <%= render 'posts/navigation_links' %>
  </div>

</ul>
